body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  header {
    background-color: #e9ecef;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    margin-bottom: 10px;
  }
  ul li a {
    text-decoration: none;
    color: #007bff;
  }
  ul li a:hover {
    text-decoration: underline;
  }
  .contact-form {
    margin-top: 30px;
  }
  .container {
    margin-top: 20px;
  }
  h2, h1 {
    margin-bottom: 20px;
  }
  footer {
    background-color: #e9ecef;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
